/* font style */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

/* Common styles */
body{
    font-family: 'Work Sans', sans-serif;
}


/* header nav styles */

.header{
    background: rgba(255, 144, 14, 0.1);
}

.header-title{
    font-size: 35px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul{
    display: flex;
    gap: 50px;
    color: #424242;
    font-weight: 300px;
    font-size: 15px;
    margin-top: 43px;
}

nav li{
    list-style: none;
    
}

/* banner styles */

.banner-title{
    text-align: center;
    font-weight: 700;
    font-size: 64px;
}

.banner-info{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;

}

.btn-primary{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    
}

.btn1{
    text-align: center;
}

.banner img{
    width: 1240px;
    height: 600px;
    margin-left: 220px;
    margin-top: 50px;
    padding-bottom: 45px;
}

/* Quick List styles */

.quick-list-items{
    display: flex;
    gap: 73px;
}

.quick-list-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    margin-left: 250px;
    margin-top: 85px;
}

.quick-list-info{
    margin-top: 220px;
}

.quick-list-info-title{
    font-weight: 500;
    font-size: 45px;
}

.quick-list-info-des{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: #727272;
    margin-bottom: 24px;
    
}

/* Features you will love styles */

.features{
    margin-left: 200px;
    margin-top: 100px;
}

.features-img{
    margin-right: 200px;
    margin-top: 100px;
}

.features-head-title{
    border-left: 6px solid #FF900E;
    height: 106px;
    font-weight: 700;
    font-size: 40px;
}

.features-head-title{
    padding-left: 15px;
}

.features-head-des{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 30px;
}

.feature{
    width: 520px;
    height: 151px;
    box-shadow: 3px 3px 3px 3px #ece9e9;
    border-radius: 5px;
}

.feature-title{
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
    margin-left: 20px;
    }

.feature-des{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: #727272;
    margin-left: 20px;
}

.container{
    display: flex;
    gap: 100px;
}

.features-img{
    position: relative;
    width: 50%;
}

.features-img img{
    width: 100%;
    height: auto;
}

.features-img .btn-experience{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-130%, -8%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    border: 0;
    padding: 45px 20px;
    height: 160px;
    width: 295px;
    border-radius: 8px;
    background-color: #FD6E0A;
}

.small{
    font-size: 20px;
    letter-spacing: 2px;
}

/* Some facts styles */

.facts{
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 100px;
}

.facts-title{
    font-weight: 700;
    font-size: 40px;
}

.facts-des{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #727272;
}

.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.box{
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding-top: 30px;
}

.box:hover { border-width: 12px; background-color: cyan; }

.number{
    font-weight: 400;
    font-size: 35px;
    color: #424242;
    margin: 0;
}

.box-title{
    color: #727272;
    margin: 0;
}

/* Our sponsors styles */

.sponsors-head{
    text-align: center;
    margin-top: 100px;
}

.sponsors-title{
    font-weight: 700;
    font-size: 40px;
    margin: 20px;
}

.sponsors-des{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #727272;
    margin-bottom: 50px;
}

.sponsors-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-bottom: 100px;
}

.logo{
    filter: brightness(20%);
    opacity: 0.5;
}

/* Our Team styles */

.team-title{
    font-weight: 700;
    font-size: 40px;
    margin: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.team-members{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-bottom: 100px;
}

.member-info {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
  }
  
  .member-info:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* .container {
    padding: 2px 16px;
  } */

  .member-info img{
    border-radius: 5px;
  }

  .container-name{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    color: #424242;
    margin: 0;
  }

  .container-des{
    text-align: center;
  }

/* Footer styles */

.footer-items{
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.footer-des{
    font-weight: 400;
    font-size: 15px;
    padding-top: 40px;
    color: #424242;
}


/*------------------------------------------ Responsive styles ------------------------------------------------*/

@media only screen and (max-width:576px){

    /* common styles */

    nav, nav ul, .quick-list-items, .container, .box-container, .sponsors-logos, .team-members{
        flex-direction: column;
        padding: 0;
        
    }

    .features, .facts{
        margin-left: 0;
        margin-top: 50px;
    }

    /* Header and banner responsive styles */

    nav{
        margin-left: 15px;
    }
    nav ul{
        margin-left: 15px;
    }

    .banner img{
        width: 100%;
        margin-left: 0;
    }

    /* Quick list responsive styles */

    .quick-list-images{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        width: 100%;
    }
    .quick-list-info{
        margin-top: 0;
    }

    /* Features responsive styles */

    /* .features, .facts{
        margin-left: 0;
        margin-top: 50px;
    } */

    .feature{
        width: 350px;
        height: 141px;
        box-shadow: 3px 3px 3px 3px #ece9e9;
        border-radius: 5px;
    }

    .feature-title{
        font-weight: 400;
        font-size: 15px;
        padding-top: 20px;
        margin-left: 20px;
        }
    
    .feature-des{
        font-weight: 300;
        font-size: 10px;
        line-height: 1.6;
        color: #727272;
        margin-left: 20px;
    }

    .features-img{
        margin-top: 0;
    }

    .features-img img{
        width: 200%;
    }

    .features-img .btn-experience{
        position:unset;
        transform: translate(0);
        -ms-transform: translate(0);
        
    }

    /* Team members responsive styles */

    .team-members{
        gap: 50px;
    }
    .member-info{
        width: 50%;
    }

    /* Some facts responsive style */

    .box-container, .sponsors-logos{
        gap: 50px;
    }

    /* Footer responsive */

    .footer-items{
        width: 350px;
    }

    .footer-des{
        padding-top: 29px;
    }
}

